<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href="/"><h1>Strona do logowania oraz rejestracji!</h1></a>
    {{{body}}}
  </body>
  <footer>
		Autor: Michał Patryk Olearczyk<br>
		Wszelkie prawa zastrzeżone
	</footer>
</html>
