<form action="/login" method="post">
	<div class="login">
		<div>
			<label for="login"><b>Login</b></label>
			<input type="text" placeholder="Login" name="login" required>
		</div>
		<div>
			<label for="password"><b>Hasło</b></label>
			<input type="password" placeholder="Password" name="password" required>
		</div></br>
		<div><button type="submit">Login</button></div></br>
	</div>
	<b><br>Nie masz jeszcze konta?</b></br>
	<a href="/register">Zarejestruj się!</a></br>
</form>
