<form action="/register" method="post">
	<div class="register">
		<div>
			<label for="login"><b>Login</b></label>
			<input type="text" placeholder="Login" name="login" required>
		</div>
		<div>
			<label for="password"><b>Hasło</b></label>
			<input type="password" placeholder="Password" name="password" required>
		</div>
		<div>
			<label for="passwordRepeat"><b>Hasło</b></label>
			<input type="password" placeholder="Password" name="passwordRepeat" required>
		</div></br>
		<div><button type="submit">Zarejestruj</button></div></br>
	</div>
	<b><br>Masz już konto?</b></br>
	<a href="/login">Zaloguj się!</a></br>
</form>
