body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px solid #333;
  box-shadow: 7px 7px 4px #444;
  padding: 8px 10px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  background-size: cover;
  height: 905px;
}

a {
  color: #00B7FF;
}

b {
  color: #352a2a;
}

footer {
  position:absolute;
  bottom: 0;
  height: 52px;
}

.login, .register, .myaccount{
  width: 15em;
  border: 1px solid #333;
  box-shadow: 7px 7px 4px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}